<!doctype html>
<html>

<head>
    <title>21 Savage Fan Site</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="container">
        <section class="page-header text-center">
            <h1>Orders Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <!-- <a href="/" class="btn btn-default btn-sm">Home</a> -->
            <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        </section>
    </section>

    <section class="container text-center">

        <!-- LOCAL INFORMATION -->
        <section class="row">
            <section class="col-sm-6">
            <h2>Pending Orders</h2>
            <% for(let i=0; i<orders.length; i++) {
                 if (orders[i].complete === false) { %>

                <section class="col-sm-6 " id="<%=orders[i]._id%>">
                    <section id="<%=orders[i].complete%>">
                        <ul class="orderList">


                            <li>Name: <span id="customerName"><%= orders[i].customerName %></span>
                               
                            </li>
                            <li><span>Size:</span>
                                <%= orders[i].size %>
                            </li>
                            <li><span>Beverage:</span>
                                <%= orders[i].beverage %>
                            </li>
                            <li><span>Temp:</span>
                                <%= orders[i].temperature %>
                            </li>
                            <li><span>Sugar</span>
                                <%= orders[i].sugar %>
                            </li>
                            <li><span>Flavor</span>
                                <%= orders[i].flavor %>
                            </li>
                            <li><span>Milk</span>
                                <%= orders[i].milkOptions %>
                            </li>

                            <%if(orders[i].note !== ''){%>
                                <li><span>Note</span>
                                <%= orders[i].note%>
                            </li>
                            <% } %>
                        
                            <span><i id="speak" class="fa fa-check" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>


                        </ul>
                    </section>

                </section>
                <% }} %>
            </section>


                
                <section class="col-sm-6">
                    <h2>Order Up</h2>
                    <span><%orders[orders.length-1].customerName%></span>

                    <h2>Completed Orders</h2>
                    <% for(let i=0; i<orders.length; i++) {
                 if (orders[i].complete === true) { %>
                        <section class="col-sm-6" id="<%=orders[i]._id%>">
                            <section id="<%=orders[i].complete%>">
                                <ul>

                                    <h3>Order completed by  <%= orders[i].thisUser %></h3>

                                    <li ><span>Name:</span>
                                        <%= orders[i].customerName %>
                                    </li>
                                    <li><span>Size:</span>
                                        <%= orders[i].size %>
                                    </li>
                                    <li><span>Beverage:</span>
                                        <%= orders[i].beverage %>
                                    </li>
                                    <li><span>Temp:</span>
                                        <%= orders[i].temperature %>
                                    </li>
                                    <li><span>Sugar</span>
                                        <%= orders[i].sugar %>
                                    </li>
                                    <li><span>Flavor</span>
                                        <%= orders[i].flavor %>
                                    </li>
                                    <li><span>Milk</span>
                                        <%= orders[i].milkOptions %>
                                    </li>
                                    <li><span>Note</span>
                                        <%= orders[i].note %>
                                    </li>
                                    <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span><i  class="fa fa-trash-o" aria-hidden="true"></i></span>


                                </ul>
                            </section>

                        </section>
                        <% }} %>

                    </section>

        </section>

    </section>

    <script src="/main.js"></script>

</body>

</html>