<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
   
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/barista" class="btn btn-default btn-sm">Home</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User</h3>

                <% if (user.local.email) { %>
                    <p>
                        <!-- <strong>id</strong>: <%= user._id %><br> -->
                        <strong>First Name</strong>: <%= user.local.firstName %><br>
                        <strong>Last Name</strong>: <%= user.local.lastName %><br>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        
        
            <div class="col-sm-6">
                <h3>Movies</h3>
                <ul class="movies">
                <% for(var i=0; i<movies.length; i++) {%>
                  <li class="message">
                    <span><%= movies[i].name %></span>
                    <span><%= movies[i].rate %></span>
                    <span><%= movies[i].recommend %></span>
                    <span><%= movies[i].genre %></span>
                    <span><%= movies[i].movieNotes %></span>
                    <span><%= movies[i].thumbUp %></span>
                    <span><%= movies[i].thumbDown %></span>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  </li>
                <% } %>
                </ul>
      
                <h2>Add a message</h2>
              <% if (user.local.email) { %>
                <form action="/movies" method="POST">
                  <input type="text" value="<%= user.local.email %>" name="name">
                  <fieldset>
                  <input type="text" placeholder="movieNotes" name="movieNotes">
                </fieldset>
                  <fieldset>
                    <legend>Rate</legend>
                    <label for="Poor">Poor</label>
                    <input required type="radio" name="rate" id="tall" value="Poor">

                    <label for="ok">Ok</label>
                    <input type="radio" name="rate" id="grande" value="Ok">

                    <label for="great">Great</label>
                    <input type="radio" name="rate" id="venti" value="Great">

                </fieldset>

                <fieldset>
                    <legend>Genres</legend>

                    <label for="genres"> Drama </label>
                    <input required type="radio" name="genre" id="drama" value="Drama">

                    <label for="hawaiiKona"> Action </label>
                    <input type="radio" name="genre" id="action" value="Action">

                    <label for="kopiLuwac">Horror</label>
                    <input type="radio" name="genre" id="kopiLuwac" value="Horror">
                    <label for="genres"> Comedy </label>
                    <input required type="radio" name="genre" id="comedy" value="Comedy">

                    <label for="hawaiiKona"> Crime </label>
                    <input type="radio" name="genre" id="crime" value="Crime">

                    <label for="kopiLuwac">SciFi</label>
                    <input type="radio" name="genre" id="sciFi" value="SciFi">
                    <label for="kopiLuwac">Anime</label>
                    <input type="radio" name="genre" id="anime" value="Anime">
                </fieldset>

                <fieldset>
                    <legend>Reccomend</legend>

                    <label>
                        Yes
                        <input required type="radio" name="recommend" value="Yes">
                        <label>
                    <label>
                        No
                        <input type="radio" name="recommend" value="No"></label>

                  <button type="submit">Submit</button>
                </form>
              </div>
              <% } %>
      
      </div>

<script src="main.js"></script>

</body>
</html>
